<h1>Orders</h1>
<%= link_to "New Order", new_buyorder_path %>
<%= link_to "New Customer", new_customer_path %>

<table class="table table-bordered text-center">
	<tr>
		<th class="text-center">Date</th>
		<th class="text-center">Name</th>
		<th class="text-center">Itemname</th>
		<th class="text-center">Quantity</th>
		<th class="text-center">Action</th>
	</tr>
	<% @buyorders.each do |t|%>
	<tr class="table table-bordered text-center">
		<td> <%= t.data %> </td>
		<td> <%= t.customer %> </td>
		<td> <%= t.item %> </td>
		<td> <%= t.quantity %> </td>
		<td>
			<%= link_to "Edit", edit_buyorder_path(t.id) %>
			<%= link_to "Delete", buyorder_path(t.id), :method => :delete %>
		</td>
	</tr>
	<% end %>
</table>

